
.index {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(-45deg,#fff,#efb336, #7dc5eb, #e8989a, #f6ef37, #db639b);
	background-size: 400% 400%;
  animation: gradientBG 5s ease infinite;

  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-top: 20px;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 70%;
    height: 70%;
    padding: 30px;
    border-radius: 20px;
    color: #666;
    background-color: rgba($color: #fff, $alpha: 0.2);
  }

  .img {
    width: 100px;
    height: 100px;

    &:active{
      opacity: 0.8;
    }
  }

  .main-bottom{
    width: 100%;
    text-align: right;
  }

  .copy-img {
    width: 80px;
    height: 80px;

    &:active{
      opacity: 0.8;
    }
  }
}